@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --custom-black: 0deg 0% 8%;
    --custom-black-light: 0deg 0% 15%;
    --custom-black-dark: 0deg 0% 1%;
    --custom-white: 0deg 0% 99%;
    --color-primary: 160deg 95% 80%;
    --color-primary-dark: 150deg 85% 65%;

    body {
      @apply text-customBlack-light;
      @apply bg-customWhite;
      @apply text-sm md:text-base;
    }
  }

  .dark {
    --custom-black-light: 0deg 0% 10%;
    --custom-black-lighter: 0deg 0% 14%;
    --color-primary: 160deg 90% 65%;
    --color-primary-dark: 160deg 85% 35%;

    body {
      @apply text-customWhite;
      @apply bg-customBlack;
    }
  }
}

@layer components {
  .dark .glowing-outline:hover {
    box-shadow: 0 0 8px -4px hsl(var(--color-primary)),
      0 0 16px -4px hsl(var(--color-primary));
  }

  .link {
    @apply underline decoration-customBlack-light hover:decoration-primary-dark dark:decoration-customWhite dark:hover:decoration-primary cursor-pointer;
  }

  .loader {
    width: 60px;
    height: 40px;
    --c: no-repeat
      radial-gradient(
        farthest-side,
        hsl(var(--custom-black)) 93%,
        hsl(var(--custom-black)) 0
      );
    background: var(--c) 0 0, var(--c) 50% 0;
    background-size: 8px 8px;
    position: relative;
    clip-path: inset(-200% -100% 0 0);
    animation: l6-0 1.5s linear infinite;

    &:before {
      content: '';
      position: absolute;
      width: 8px;
      height: 12px;
      background: hsl(var(--custom-black));
      left: -16px;
      top: 0;
      animation: l6-1 1.5s linear infinite,
        l6-2 0.5s cubic-bezier(0, 200, 0.8, 200) infinite;
    }
    &:after {
      content: '';
      position: absolute;
      inset: 0 0 auto auto;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: hsl(var(--custom-black));
      animation: l6-3 1.5s linear infinite;
    }
  }

  @keyframes l6-0 {
    0%,
    30% {
      background-position: 0 0, 50% 0;
    }
    33% {
      background-position: 0 100%, 50% 0;
    }
    41%,
    63% {
      background-position: 0 0, 50% 0;
    }
    66% {
      background-position: 0 0, 50% 100%;
    }
    74%,
    100% {
      background-position: 0 0, 50% 0;
    }
  }
  @keyframes l6-1 {
    90% {
      transform: translateY(0);
    }
    95% {
      transform: translateY(15px);
    }
    100% {
      transform: translateY(15px);
      left: calc(100% - 8px);
    }
  }
  @keyframes l6-2 {
    100% {
      top: -0.1px;
    }
  }
  @keyframes l6-3 {
    0%,
    80%,
    100% {
      transform: translate(0);
    }
    90% {
      transform: translate(26px);
    }
  }

  .dark .loader {
    --c: no-repeat
      radial-gradient(
        farthest-side,
        hsl(var(--color-primary)) 93%,
        hsl(var(--color-primary)) 0
      );
    background: var(--c) 0 0, var(--c) 50% 0;
    background-size: 8px 8px;

    &:before,
    &:after {
      background: hsl(var(--color-primary));
    }
  }
}
